$grey: #1A1A1A;
$white: #FFF;
$red: #665252;
$blue: #525e66;
$green: #5C6657;
$purple: #ccebff;

$circle-double: 70px;
$circle-blur: 100px;
$circle-m: 25px;
$circle-s: 17px;

$text-l: 50px;
$text-m: 36px;
$text-s: 24px;
