$grey: #1A1A1A;
$white: #FFF;
$red: #CC3D76;
$blue: #3DB2CC;
$yellow: #CCA63D;
$green: #3DCC47;
$purple: #dbe4ff;

$circle-double: 70px;
$circle-blur: 100px;
$circle-m: 25px;
$circle-s: 17px;

$text-l: 50px;
$text-m: 36px;
$text-s: 24px;
